---
layout: default
---

<!-- Page Header -->
{% include head.html %}

<!-- Main Content -->
<section class="post">
    {{ content }}
</section>

<!-- JiaThis Button BEGIN -->
<script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jiathis_r.js?btn=r2.gif&amp;uid=1344352160442869" charset="utf-8"></script>
    <!-- JiaThis Button END -->

{% if page.comments %}
{% include comments.md %}
{% endif %}